In [1]:
import pandas as pd
import numpy as np
import re

In [154]:
df = pd.read_excel("")

In [141]:
df.head(5)

                                        CustomerName
0  Pick 'n Pay Family Mbabane KT03  (Imana Foods ...
1  Pick 'n Pay Family Crescent KT08 AVI Tea 10000...
2  Pick 'n Pay Family Crescent  KT08 Tiger Snacks...
3  Pick 'n Pay Family Crescent KT08 Logico ECCB 1...
4  Pick 'n Pay Family Manzini  KT04 Bayers 100001...

In [152]:
'''
    Function : Clean unwanted text from a string
'''
def cleantext(string):
    string = re.sub(r"[()]", "",string) 
    
    if "KT" in string:
        string = re.sub("Family",'',string)
        string = re.sub("Store",'',string)
        str = re.search(r"(KT|AVI)\d*[\s*\w*\W*]*", string).group()
        string = re.sub(str,'',string)
    elif "AVI" in string:
        string = re.sub('Family','',string)
        string = re.sub('Store','',string)
        str = re.search(r"(KT|AVI)\d*[\s*\w*\W*]*", string).group()
        string = re.sub(str,'',string)
       
    return string

In [155]:
# Remove unwanted text from string using the function cleantext and store it in an array
clean_customer = []
for customer in df['CustomerName']:
    cust =  cleantext(customer)
    clean_customer.append(cust)

In [156]:
# Add cleaned array into a dataframe column
df['Clean_Customer_Name'] = clean_customer

In [157]:
df.head()

                                        CustomerName      Clean_Customer_Name
0  Pick 'n Pay Family Mbabane KT03  (Imana Foods ...    Pick 'n Pay  Mbabane
1  Pick 'n Pay Family Crescent KT08 AVI Tea 10000...   Pick 'n Pay  Crescent
2  Pick 'n Pay Family Crescent  KT08 Tiger Snacks...  Pick 'n Pay  Crescent
3  Pick 'n Pay Family Crescent KT08 Logico ECCB 1...   Pick 'n Pay  Crescent
4  Pick 'n Pay Family Manzini  KT04 Bayers 100001...   Pick 'n Pay  Manzini

In [149]:
df.shape

(35185, 2)

In [158]:
#Export dataframe to excel
df.to_excel("CleanedData.xlsx")