In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#df_missing_tins = pd.read_excel("C:\\Users\\vkhumalo\\OneDrive - Eswatini Revenue Service\\Documents\\Data Matching\\FEB WEEK 2\\Gov April 2020- March 2022.xlsx")
df_missing_tins = pd.read_excel("")

In [3]:
df_missing_tins.head(5)

                            Payee
0  A M TREE CUTTING (PROPRIETARY)
1   A P INVESTMENTS (PROPRIETARY)
2            A TO Z GRANITE TRADE
3    A WEAR CLOTHING MANUFACTURER
4    ABAPHILE NOMALUNGELO MTSHALI

In [5]:
'''
    Function: Takes string as argument and cleans it using regex
'''
def cleantext(string):
    if not(string.islower()):        
        string = string.lower()
        
    string  =re.sub(pattern='[()]', repl="",string=string) 
    string  =re.sub(pattern=r'\bproprietary\b|\bproprietar\b|\bproprieta\b|\bpropriet\b|\bproprie\b|\blimited\b|\bpropri\b|\blimite\b|\blimi\b|\blim\b|\bli\b|\bpty\b|\bltd\b|\binc\b', repl="",string=string)
    string  = string.strip()
    #string = re.sub(pattern=r'')
    string = re.sub(' +', ' ', string)
    '''
        string = re.sub(pattern = 'limited$', repl="",string=string)
        string = re.sub(pattern = 'limite$', repl="",string=string)
        string = re.sub(pattern = 'limi$', repl="",string=string)
        string = re.sub(pattern = 'lim$', repl="",string=string)
        string = re.sub(pattern = 'li$', repl="",string=string)
        string  =re.sub(pattern='proprietary$', repl="",string=string)
        string =re.sub(pattern = 'proprietar$', repl="",string=string)
        string = re.sub(pattern = 'proprieta$', repl="",string=string)
        string = re.sub(pattern = 'propriet$', repl="",string=string)
        string = re.sub(pattern = 'proprie$', repl="",string=string)    
        string = re.sub(pattern = 'propri$', repl="",string=string)
        #string  =re.sub(pattern='.', repl="",string=string) 
    '''
    string = string.upper()
    return string

In [6]:
#Clean the data and store it in an array
clean_data = []
for str in df_missing_tins['Payee']:
    clean_data.append(cleantext(str))

In [7]:
# Create a data frame column from the clean array
df_missing_tins['Cleaned'] = clean_data

In [8]:
df_missing_tins.sample(5)

                            Payee                      Cleaned
1109              BIDVEST STEINER              BIDVEST STEINER
8185          THANDIWE G TSABEDZE          THANDIWE G TSABEDZE
6446                   PC SYSTEMS                   PC SYSTEMS
758               BIDVEST STEINER              BIDVEST STEINER
490   BEN J SIMELANE & ASSOCIATES  BEN J SIMELANE & ASSOCIATES

In [29]:
# Export dataframe to csv
df_missing_tins.to_csv('CleanedData_5.csv', encoding='utf-8')